.git
.dart_tool
.idea
.vscode
android
ios
linux
macos
windows
build/app
build/windows
build/linux
build/macos
build/ios
**/*.apk
**/*.aab
.flutter-plugins
.flutter-plugins-dependencies
**/node_modules
.env
*.md
